Content/Gothic_Interior/Environment/MasterMaterial/Texture/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/Environment/Asset/Texture/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/MasterMaterials/MM_Landscape/Texture/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/Environment/Foliage/Texture/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/Maps/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/Environment/ExtraAsset/Extramaps/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_interior/Environment/Asset/Texture/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/Environment/Foliage/Texture/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/Environment/Foliage/Texture/GroundCover/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/Environment/Foliage/Texture/PivotPainter/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/Environment/Foliage/Texture/Winter/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Plugins/GothicPack/Content/IcePalace/Environment/Proxy/Texture/**/*.uasset filter=lfs diff=lfs merge=lfs -text